body{
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
}

#nome{
width: 200px;
color: black;
border: 200%;
border-radius: 2%;
}

#email{
    width: 200px;
color: black;
border: 200%;
border-radius: 2%;
}
