body{
    background-color: black;
}
    

body p{
    color: aliceblue;
}

body img{
width: 100%;
background-color: aliceblue;
}

.menu{
    overflow: hidden;
    background-color: steelblue;
}

.menu a {
float: left;
display: block;
color: azure;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.menu a:hover{
background-color: aliceblue;
color: black;
}
header{
background-color: red;
}

header img{
width: 5%;
}
header h1 {
    color: aliceblue;
    text-align: center;
    width: 100%;
    }